spring:
  application:
    name: workqueue
  redis:
    host: localhost
    port: 6379

workqueue:
  redis-queue-name: task_queue
  worker:
    threads: 3


management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

server:
  port: 8080